<!DOCTYPE html>
<html th:lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse library</title>

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{css/styles.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"></span>
        <a class="navbar-brand" href="/">
            Movie Recommender - With transparency!
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#indexnav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="indexnav">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">Library</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a href="/" class="nav-link">Login</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" th:text="${'Hi ' + #authentication.getName()}"></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="#">View watch history</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><div class="dropdown-divider"></div></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button class="dropdown-item btn btn-outline-danger" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="movieDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <img id="movieDetailImage" th:src="@{img/image-not-found.png}" class="img-fluid">
                        </div>

                        <div class="col-md-9">
                            <div class="row">
                                <div class="col">
                                    <h3 id="movieDetailTitle" class="modal-title">Movie name</h3>
                                    <p><small id="movieDetailRelease" class="text-muted">Release year</small></p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Ut diam quam nulla porttitor massa id neque.
                                    </p>
                                    <p><small id="movieDetailGenres">Genres</small></p>
                                </div>
                                <div class="col-1">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>

                            <div sec:authorize="isAuthenticated()" class="row">
                                <div class="col-4">
                                    <h6 id="movieDetailRating">Your rating: </h6>
                                </div>
                                <div class="col">
                                    <form id="rating-form">
                                        <div class="rating">
                                            <input type="radio" name="rating" id="rate-5" value="5">
                                            <label for="rate-5"><i class="fa fa-star"></i></label>

                                            <input type="radio" name="rating" id="rate-4" value="4">
                                            <label for="rate-4"><i class="fa fa-star"></i></label>

                                            <input type="radio" name="rating" id="rate-3" value="3">
                                            <label for="rate-3"><i class="fa fa-star"></i></label>

                                            <input type="radio" name="rating" id="rate-2" value="2">
                                            <label for="rate-2"><i class="fa fa-star"></i></label>

                                            <input type="radio" name="rating" id="rate-1" value="1">
                                            <label for="rate-1"><i class="fa fa-star"></i></label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="provenanceRow" class="col text-right" hidden>
                                <button id="provenanceBtn" class="btn btn-outline-primary" onclick="provenanceDisplay()">
                                    Why was this recommended?
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="provenanceDataContainer" class="row mt-3" hidden>
                        <pre id="provenanceData" class="col p-2 border border-info rounded"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-3">
    <div id="recommendations"></div>

    <h3 class="text-left">Catalogue</h3>
    <form method="get" action="/library">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search title" name="title">
            <button type="submit" class="btn btn-outline-primary">Search</button>
            <button type="button" class="btn btn-outline-danger" onclick="window.location.href='/library';">Clear</button>
        </div>
    </form>

    <div class="container pt-5">
        <th:block th:each="movieRow: ${movieSubLists}">
            <div class="card-deck pb-3">
                <div class="card zoom" th:each="movie: ${movieRow}" th:onclick="'queryMovieDetail(\'' + ${movie.getId()} +'\');'">
                    <img th:src="${movie.getPosterUrl() != null}? ${movie.getPosterUrl()} : @{img/image-not-found.png}" class="card-img-top">
                    <div class="card-body">
                        <h6 class="card-title" th:text="${movie.getTitle()}"></h6>
                        <p class="card-text">
                            <small class="text-muted" th:text="${'Released: ' + movie.getReleaseYearString()}"></small>
                        </p>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

    <nav aria-label="Movie page navigation" th:if="${totalPages > 1}">
        <ul class="pagination justify-content-center">
            <!-- Enable/disable previous button if pagination is at the start -->
            <li class="page-item disabled" th:if="${currentPage == 0}">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item" th:if="${currentPage != 0}">
                <a class="page-link" th:href="@{/library(page=${currentPage})}" th:if="${searchTerm == null}">Previous</a>
                <a class="page-link" th:href="@{/library(page=${currentPage},title=${searchTerm})}" th:if="${searchTerm != null}">Previous</a>
            </li>

            <form method="get" action="/library">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Page</div>
                    </div>
                    <input type="number" class="form-control" name="page" th:value="${currentPage + 1}">
                    <input type="hidden" name="title" th:if="${searchTerm != null}" th:value="${searchTerm}">
                    <div class="input-group-append">
                        <div class="input-group-text" th:text="${'of ' + totalPages}"></div>
                    </div>
                </div>
            </form>


            <!-- Enable/disable next button if pagination is at the end -->

            <li class="page-item disabled" th:if="${currentPage + 1 == totalPages}">
                <a class="page-link">Next</a>
            </li>

            <li class="page-item" th:if="${currentPage + 1 != totalPages}">
                <a class="page-link" th:href="@{/library(page=${currentPage + 2})}" th:if="${searchTerm == null}">Next</a>
                <a class="page-link" th:href="@{/library(page=${currentPage + 2},title=${searchTerm})}" th:if="${searchTerm != null}">Next</a>
            </li>
        </ul>
    </nav>
</div>


<script th:src="@{js/jquery-3.6.0.js}"></script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
<script th:src="@{js/library.js}"></script>
</body>
</html>