<!DOCTYPE html>
<html th:lang="en" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie recommender - A data provenance demonstration</title>

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block"></span>
            <a class="navbar-brand" href="#">
                Movie Recommender - With transparency!
            </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#indexnav">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="indexnav">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item active">
                    <a href="#" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/library" class="nav-link">View Library</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a href="/" class="nav-link">Login</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" th:text="${'Hi ' + #authentication.getName()}"></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="#">View watch history</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button class="dropdown-item btn btn-outline-danger" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container h-100 p-4 mx-auto">
        <div class="row">
            <div class="col-md bg-light">
                <div class="container">
                    <br>
                    <h3 class="text-dark text-center">A demonstrator for data provenance</h3>
                    <p class="text-justify">
                        The aim of this demonstrator is to show that data provenance principles can be included in a
                        machine learning based application. The idea for this demonstrator is that a user may request
                        movie recommendations based on some features, and the provided recommendations will have
                        provenance baked in. This allows a user to understand why a particular movie was recommended to
                        them, including what data was used to generate the recommendation and what rules the machine
                        learning algorithm has used to produce such a recommendation.
                    </p>

                    <br>

                    <h4>This demonstrator is sponsored by:</h4>
                    <div class="row">
                        <div class="col-sm">
                            <div class="card">
                                <img class="card-img-top" th:src="@{img/matthias_profile.png}" alt="Matthias Galster"/>
                                <div class="card-body">
                                    <h5 class="card-title">Matthias Galster</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">University of Canterbury</h6>
                                </div>
                                <div class="card-footer">
                                    <a href="https://www.cosc.canterbury.ac.nz/matthias.galster/" class="card-link">UC profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img class="card-img-top" th:src="@{img/jens_profile.png}" alt="Jens Dietrich" />
                                <div class="card-body">
                                    <h5 class="card-title">Jens Dietrich</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">University of Victoria</h6>
                                </div>
                                <div class="card-footer">
                                    <a href="https://people.wgtn.ac.nz/jens.dietrich" class="card-link">VUW profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md bg-dark">
                <br>

                <div sec:authorize="isAnonymous()">
                    <h3 class="text-light text-center">Login for custom recommendations</h3>

                    <br>

                    <form th:action="@{/}" method="post">
                        <div class="form-row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">User</div>
                                </div>
                                <input type="text" name="username" class="form-control" id="inputUsername">
                            </div>
                        </div>

                        <br>

                        <div class="form-row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Pass</div>
                                </div>
                                <input type="password" name="password" class="form-control" id="inputPassword">
                            </div>
                        </div>

                        <br>

                        <div th:if="${param.error}">
                            <div class="alert alert-danger">Invalid username and/or password</div>
                        </div>

                    <div class="form-row">
                        <button type="submit" class="btn btn-outline-primary">Login</button>
                    </div>
                </form>
            </div>

                <div sec:authorize="isAuthenticated()">
                    <h3 class="text-light text-left" th:text="${'Logged in as: ' + #authentication.getName()}"></h3>
                </div>

                <br><br>

                <h4 class="text-left text-light">About profiles:</h4>
                <p class="text-light">
                    Each profile comes pre-loaded with some starred movies, which should give the recommendation engine
                    something to work with
                </p>
        </div>
    </div>


</body>

<script th:src="@{js/jquery-3.6.0.min.js}"></script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</html>