<!DOCTYPE html>
<html th:lang="en" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse library</title>

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block"></span>
            <a class="navbar-brand" href="#">
                Movie Recommender - With transparency!
            </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#indexnav">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="indexnav">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active">View Library</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="header">Movie catalogue</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Release Year</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="movie: ${movies}">
                <td th:text="${movie.getId()}" />
                <td th:text="${movie.getTitle()}" />
                <td th:text="${movie.getReleaseYearString()}" />
            </tr>
            </tbody>
        </table>
    </div>

</body>

<script th:src="@{js/bootstrap.bundle.min.js}"></script>

</html>